body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(56, 56, 56);
  color: #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: right; /* numeric columns aligned right */
  color: #ddd;
}

th {
  background-color: #1f1f1f;
  text-align: center;
  color: #ddd;
}

tr:hover {
  background-color: #423b8a;
  color: #ddd;
}
